@font-face {
    font-family: Noto_Sans;
    src: url('../assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: Noto_Sans_Bold;
    src: url('../assets/fonts/Noto_Sans/NotoSans-Bold.ttf');
    font-weight: normal;
  }